/*----------------------------------------------------------------------------------------------------------------*\
    RESET
\*----------------------------------------------------------------------------------------------------------------*/
/*
RESET
DEFAULT TEXT
BUTTONS
FORM ELEMENTS
PAGE CONTAINERS
HEADER
PLAYERS
FIGHT
MEDIA QUERIES
*/

a, abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, dl, 
dt, em, fieldset, figcaption, figure, footer, form, header, hgroup, h1, h2, h3, h4, h5, h6, html, i, iframe, img, 
ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, 
sup, table, tbody, td, th, thead, time, tfoot, tr, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* ----- Typography ----- */
strong, mark, b {
    font-weight: bold; 
    font-style: inherit;
}

em, i, cite, q, address, dfn, var {
    font-style: italic; 
    font-weight: inherit;
}

small {
    font-size: 0.75em;
}

/* ----- Links, Images & Embedded content----- */
img {
    width: 100%;
    height: auto;
}

:focus {
    outline: 0;
}

/* ----- Forms ----- */
input {
	line-height: 1em;
}

input, select {
    vertical-align: middle;
}

/* ----- Cursors ----- */
a, button, select {
    cursor: pointer;
}

input, textarea {
    cursor: text;
}

/* ----- Other ----- */
.clear {
    float: none;
    clear: both;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; 
}





/*----------------------------------------------------------------------------------------------------------------*\
    DEFAULT TEXT
\*----------------------------------------------------------------------------------------------------------------*/
body {
	padding-top: 20px;
    
    background: #F2F1EC;
    
    color: #292A2B;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1em;
    
    position: relative;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Georgia, Times, "Times New Roman", serif;
    color: #292A2B;
    font-weight: bold;
}

h1, .h1 {
	margin-bottom: 20px;
    
    font-size: 2em;
    line-height: 1em;
}

h2, .h2 {
	margin-bottom: 10px;
    
    font-size: 1.1em;
    line-height: 1em;
}

a {
    color: #2290BF;
    text-decoration: none;
    
    -webkit-transition: all 0.2s ease-in;  
    -moz-transition: all 0.2s ease-in;  
    -ms-transition: all 0.2s ease-in;  
    -o-transition: all 0.2s ease-in;  
    transition: all 0.2s ease-in; 
}

a:hover {
    color: #49B1DE;
}





/*----------------------------------------------------------------------------------------------------------------*\
    BUTTONS
\*----------------------------------------------------------------------------------------------------------------*/
button, 
.button {
	padding: 5px 10px;
	border: 1px solid #077BA8;
	display: inline-block;
	
	background: #2290BF;
	
	font-size: 1em;
	line-height: 1em;
	color: #fff;
    
    cursor: pointer;
	
	-webkit-transition: all 0.2s ease-in;  
    -moz-transition: all 0.2s ease-in;  
    -ms-transition: all 0.2s ease-in;  
    -o-transition: all 0.2s ease-in;  
    transition: all 0.2s ease-in;
}

button:hover, 
.button:hover {
    background: #49B1DE;
    
    color: #fff;
}





/*----------------------------------------------------------------------------------------------------------------*\
    FORM ELEMENTS
\*----------------------------------------------------------------------------------------------------------------*/
label {
	margin-right: 10px;
	display: inline-block;
}

input, 
textarea {
	width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    display: block;
    
    font-size: 1em;
}

input:focus {
    background: #fff;
}

input[type="checkbox"],
input[type="radio"] {
	width: auto;
	padding: 0;
	border: 0;
	display: inline-block;
}

select {
	display: inline-block;
}





/*----------------------------------------------------------------------------------------------------------------*\
    PAGE CONTAINERS
\*----------------------------------------------------------------------------------------------------------------*/
.content {
    max-width: 1180px;
    padding: 0 1em;
    margin: 0 auto;
    
    position: relative;
}

.row {
    width: 100%;
    
    position: relative;
}

.row [class*="column-"] {
    width: 100%;
    min-height: 1px;
}

.row:after,
.content:after {
    height: 0;
    display: block;
    content: "";
    visibility: hidden;
    clear: both;
}

.row [class*="column-"]:last-child {
    margin-right: 0;
}

.hideMobile,
.showTablet,
.hideResize {
    display: none;
}





/*----------------------------------------------------------------------------------------------------------------*\
    HEADER
\*----------------------------------------------------------------------------------------------------------------*/
.header {
	text-align: center;
}

.controls {
	margin-bottom: 20px;
}

.control {
	margin-bottom: 10px;
	display: block;
}

.controls .numPlayer {
	margin-right: 30px;
}

.controls .winningLevel {
	width: 50px;
    margin-right: 30px;
    padding: 3px;
	display: inline-block;
    
    text-align: center;
}





/*----------------------------------------------------------------------------------------------------------------*\
    CONTAINERS
\*----------------------------------------------------------------------------------------------------------------*/
.container {
    border: 1px solid #ccc;
    display: inline-block;
}

.container .top {
	border: 0;
    border-bottom: 1px solid #ccc;
    
    background: #f5f5f5;
}

.left {
	width: 50%;
    padding: 10px 0;
    float: left;
}

.right {
	width: 50%;
    padding: 10px 0;
    float: left;
}

.left .value,
.right .value {
	padding: 10px 0;
}

.container .bottom {
	border-top: 1px solid #ccc;
	padding: 10px 0;
}





/*----------------------------------------------------------------------------------------------------------------*\
    PLAYERS
\*----------------------------------------------------------------------------------------------------------------*/
.players {    
	list-style: none;
    
    text-align: center;
}

.container.player {
    width: 220px;
    margin: 0 10px 20px 10px;
    
    background: #fff;
}

.player.hasWon {
	background: #CFFFE9;
}

.player .name {
	padding: 5px;
	border: 0;
    
    background: #f5f5f5;
    
    font-size: 1.2em;
    line-height: 1em;
    text-align: center;
}





/*----------------------------------------------------------------------------------------------------------------*\
    FIGHT
\*----------------------------------------------------------------------------------------------------------------*/
.container.fight {
	max-width: 460px;
    margin: 0 auto;
    display: block;
    
    background: #fff;
    
    text-align: center;
}

.fight .selectPlayer {
	list-style: none;
}

.fight .selectPlayer li {
 	padding: 5px;
	display: inline-block;
    
    cursor: pointer;
}

.fight .selectPlayer li:hover,
.fight .selectPlayer li.selected {
	background: #49B1DE;
}





/*----------------------------------------------------------------------------------------------------------------*\
    MEDIA QUERIES
\*----------------------------------------------------------------------------------------------------------------*/
/* 480px */
@media all and (min-width: 480px) {
    .hideMobile {
        display: block;
    }
}

/* 768px */
@media all and (min-width: 768px) {	
    .row [class*="column-"] {
        margin-right: 2%;
        float: left;
    }

    .row .column-1 {
        width: 6.5%;
    }
    
    .row .column-2 {
        width: 15%;
    }
    
    .row .column-3 {
        width: 23.5%;
    }
    
    .row .column-4 {
        width: 32%;
    }
    
    .row .column-5 {
        width: 40.5%;
    }
    
    .row .column-6 {
        width: 49%;
    }
    
    .row .column-7 {
        width: 57.5%;
    }
    
    .row .column-8 {
        width: 66%;
    }
    
    .row .column-9 {
        width: 74.5%;
    }
    
    .row .column-10 {
        width: 83%;
    }
    
    .row .column-11 {
        width: 91.5%;
    }
    
    .row .column-12 {
        width: 100%;
        margin-right: 0;
    }
        
    .showTablet {
        display: block;
    }
    
    .control {
        display: inline-block;
    }
}

/* 980px */
@media all and (min-width: 980px) {
    .hideResize {
        display: block;
    }
}